<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appealic"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.view.BankTransfer"
            android:exported="false" />
        <activity
            android:name=".ui.view.ActivityForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.view.GoogleLoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.ActivityLikedSong" />
        <activity android:name=".ui.view.ActivityRegister" />
        <activity android:name=".ui.view.ActivityNotification" />
        <activity android:name=".ui.view.ActivityLoginPhoneOTP" />
        <activity android:name=".ui.view.Activity_welcome" />
        <activity android:name=".ui.view.MediaActivity" />
        <activity android:name=".ui.view.ActivityLogin" />
        <activity android:name=".ui.view.ActivityMusicControl" />
        <activity android:name=".ui.view.ActivityNewPassword" />
        <activity android:name=".ui.view.ActivityHome" />
        <activity android:name=".ui.view.ActivityLoginPhone" />
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".ui.view.WidgetView"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".data.repository.service.MusicPlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="com.project.appealic.action.PLAY" />
                <action android:name="com.project.appealic.action.PAUSE" />
                <action android:name="com.project.appealic.action.NEXT" />
                <action android:name="com.project.appealic.action.PREVIOUS" />
                <!-- Thêm các action khác nếu cần -->
            </intent-filter>
        </service>
    </application>

</manifest>